*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul.nav{
    background-color: gray;
    list-style-type: none;
    padding: 1rem;
    height: 10rem;
    text-align: center;
    display: flex;
    flex-direction: row;
    gap: 1rem 4rem; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* align-items: center; */
    align-content: center;
}

ul.nav li{
background-color: burlywood;
width: 7rem;
padding: 0.5rem;
border-radius: 5px;
}